html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  background: #FFFFFF url(/images/background.jpg);
}

/* MENU */
.menu {
  background: #000000;
  height: 34px;
}

.menu a {
  color: #FFFFFF;
}

.menu li a:hover, .menu li a:focus {
  background: none;
  border: none;
  color: #AECFE5;
  cursor: pointer;
}

.pure-menu .pure-menu-fixed {
  border-bottom: none;
}

/* CONTENT */
.wrapper {
  margin-top: 34px;
  height: 100%;
}

/* CONTENT */
.content {
}

.intro {
}

.chatbox {
  height: 500px;
}

/* FOOTER */
.footer {
  background: #000000;
  height: 34px;
}

@media (min-width: 48em) {
  .menu ul {
    float: right;
  }

  .content {
  }

  .intro {
  }

  .chatbox {
  }
}
