html { width: 100%; height: 100%; }
body { width: 100%; height: 100%; background: #FFFFFF url(/images/background.jpg); }
h1, p {
  margin: 0px;
  padding: 0px;
}

/* MENU */
.menu {
  background: #000000;
  height: 34px;
}

.menu a {
  color: #FFFFFF;
}

.menu li a:hover, .menu li a:focus {
  background: none;
  border: none;
  color: #AECFE5;
  cursor: pointer;
}

.pure-menu .pure-menu-fixed {
  border-bottom: none;
}

/* CONTENT */
.wrapper {
  margin-top: 34px;
  height: 100%;
}

/* CONTENT */
.content {
}

#chatbox {
  padding: 10px;
  margin: 20px 20px 5px 20px;
  width: 100%;
  height: 500px;
  border: 1px solid #CCCCCC;
}

#chatbox + .pure-form {
  margin: 0px 20px 5px 20px;
  width: 100%;
}

.pure-input {
  border-radius: 0px !important;
  box-shadow: none !important;
  margin: 0px !important;
}

.pure-button {
  margin: 0px !important;
  border-radius: 0px;
}

/* FOOTER */
.footer {
  background: #000000;
  height: 34px;
}

@media (min-width: 48em) {
  .menu ul {
    float: right;
  }

  .content {
  }

  .chatbox {
  }
}
