html { width: 100%; height: 100%; }
body {
  width: 100%;
  height: 100%;
  background: #FFFFFF url(/images/background.jpg);
  /* background: yellow; */
}
h1, p {
  margin: 0px;
  padding: 0px;
}

/* MENU */
.menu {
  background: #000000;
  height: 34px;
}

.menu a {
  color: #FFFFFF;
}

.menu li a:hover, .menu li a:focus {
  background: none;
  border: none;
  color: #AECFE5;
  cursor: pointer;
}

.pure-menu .pure-menu-fixed {
  border-bottom: none;
}

/* CONTENT */
.wrapper {
  margin-top: 34px;
  min-height: 100%;
}

/* CONTENT */
.content {
  padding: 20px;
}

#chatbox {
  padding: 10px;
  margin: 0px 0px 5px 0px;
  width: 100%;
  height: 500px;
  border: 1px solid #CCCCCC;
}

#chatbox + .pure-form {
  margin: 0px 0px 5px 0px;
  width: 100%;
}

.pure-input {
  border-radius: 0px !important;
  box-shadow: none !important;
  margin: 0px !important;
}

.pure-button {
  margin: 0px !important;
  border-radius: 0px;
}

/* FOOTER */
.footer {
  background: #000000;
  height: 34px;
}

/* CODE */
pre, code {
  font-family: Consolas, Courier, monospace;
  color: #333333;
  background: rgb(250, 250, 250);
}

code {
  padding: 0.2em 0.4em;
  white-space: nowrap;
}

.content p code {
  font-size: 90%;
}

.code {
  padding: 10px;
  border: 1px solid #CCCCCC;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.code code {
  font-size: 95%;
  white-space: pre;
  word-wrap: normal;
  padding: 0;
  background: none;
}

.code-wrap code {
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* RESPONSIVE */
@media (min-width: 48em) {
  .menu ul {
    float: right;
  }

  .content {
  }

  .chatbox {
  }
}
