#header.full-header #primary-menu > ul.menu-right {
	padding-right: 0px;
	margin-right: -14px;
	border-style: none;
}

.topmargin-vlg {
  margin-top: 100px !important;
}

#chatbox {
	border: 1px solid #cccccc;
	border-radius: 4px;
	height: 400px;
	overflow: scroll;
	padding: 10px;
}

input.form-control {
	height: 52px;
	line-height: 44px;
	font-size: 28px;
}

.btn-lg {
  padding: 0px 40px;
  font-size: 28px;
  line-height: 50px;
  border-radius: 4px;
}

.btnHighlight {
	color: #FFFFFF;
	background: #34A9DD;
	border: 1px #34A9DD solid;
}

.btnHighlight:hover {
	color: #FFFFFF;
	background: #34A9ED;
	cursor: pointer;
}

#toc .tocify-highlight a {
	color: #EEEEEE !important;
	background-color: #495562 !important;
}

#toc .tocify-highlight a:hover {
	color: #EEEEEE !important;
	background-color: #2F3741 !important;
}

#toc a {
	color: #EEEEEE !important;
	background-color: #2F3741 !important;
}

th p, td p {
	margin: 0px;
	font-size: 20px;
}

tr.app:hover td {
	cursor: pointer;
	background: #E6E6E6;
}

.bottommargin-vsm {
	margin-bottom: 10px !important;
}

a.current {
	color: #000000;
}
